<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Clusters</mat-card-title>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayout.xs="column">
          <div fxFlex="50">
            <mat-form-field class="search-width" color="primary">
              <input type="text" matInput placeholder="Search" ngModel name="cluster-name">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <a routerLink="/clusters/config" class="m-r-5" style="float: right">
              <mat-icon class="icon_size" color="primary">add_circle</mat-icon>
            </a>
          </div>
        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" fxLayout.xs="column">

          <div fxFlex="100" >
            <div style="float : right">
              <mat-button-toggle-group #group="matButtonToggleGroup" >
                <mat-button-toggle value="card" (click)="toggle()">
                  <mat-icon color="primary">apps</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="list" (click)="toggle()">
                  <mat-icon color="primary">list</mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
        <div class="table-rasponsive" *ngIf="show">
          <mat-table #table [dataSource]="dataSource" matSort >

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nodes </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-icon color="accent">mode_edit</mat-icon>
                <mat-icon color="accent">mode_delete</mat-icon>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

        <div class="tileView" id="tileView" *ngIf="!show">
          <mat-grid-list cols="5" gutterSize="30">
            <mat-grid-tile *ngFor="let cluster of clusters">
              {{cluster.name}}<br>{{cluster.weight}}<br><br>
              {{cluster.symbol}} Nodes
            </mat-grid-tile>

          </mat-grid-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
