.subtitle {
  font-size: 14px;
  font-weight: normal;
}

.font-medium {
  align-items: center;
  font-size: 16px;
}

.b-r{
  border-right: 1px solid #99abb4;
}

.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 24px;
}
table {
  width: 100%;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

