
<!-- ============================================================== -->
<!-- Notification - style you can find in header.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button mat-icon-button class="m-r-5">
  <mat-icon class="size" color="primary">account_circle</mat-icon>
</button>

<button mat-icon-button class="m-r-5">
  <mat-icon class="size" color="primary">notifications</mat-icon>
</button>
<button mat-icon-button class="m-r-5">
  <mat-icon class="size" color="primary">power_settings_new</mat-icon>
</button>
<button mat-icon-button class="m-r-5">
  <mat-icon class="size" color="primary">help</mat-icon>
</button>



